body{
    padding: 10%;
    box-shadow: 0 8px 16px 0 gray;
}
#frm{
    border: 2px solid gray;
    padding: 10px;
    color: rgba(0, 0, 0, 0.8);
}
input{
    font: caption;
}
#hhh{
    width: 80%;
    pointer-events: none;
  }
#nav{
    background-color: lightseagreen;
}
label{
    font: caption;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 132, 255);
}
span{
    color:red;
}