/* sidenav */
.sidenav {
    height: 100%;
    width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 gray;
  }
  
  .sidenav a {
    text-decoration: none;
    height: 70px;
    padding: 16px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  
  .sidenav a:hover {
    color:black;
    background-color: rgba(105, 182, 169, 0.4);
  }
  
  .main {
    width: 80%; /* Same as the width of the sidenav */
    float: right;
  }
  
  @media screen and (max-height: 400px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidenav img{
      height: 300px;
      width: 100%;
  }
.active{
  color: rgb(0, 12, 82);
  background-color: rgb(105, 182, 169);
}
/* sidenav ends */